@page
@model CroatianProject.Pages.Admin.AddFeatureModel
@{
    ViewData["Title"] = "Анализ";
}
<html>
<head>
    <script src="~/js/wordEditingController.js"></script>
</head>
<body>
    <h2>Добавление признаков в текст</h2>
    <form asp-page-handler="show" method="post">
        <select asp-for="textName">
            @foreach (var text in Model.textList)
            {
                <option>@text</option>
            }
        </select>
        <button>Показать текст</button><br />
    </form>

    <div align="center"></div>
    @foreach(var word in Model.textByWords)
    {
        @Html.Raw(word)
    }
    <div style="clear:both;"></div>

</body>
</html>


