@page
@model CroatianProject.Pages.Admin.AddFeatureModel
@{
    ViewData["Title"] = "Анализ";
}
<html>
<head>
    <script src="~/js/wordEditingController.js"></script>
</head>
<body>
    <h2>Добавление возможностей для анализа</h2>
    <form method="get">
        <select asp-for="textName">
            @foreach (var text in Model.textList)
            {
                <option>@text</option>
            }
        </select>
        <button asp-page-handler="show" onclick="textShow();">Показать текст</button><br />
    </form>

    <div align="center"></div>
    <div style="clear:both;"></div>

</body>
</html>


