@page
@model CroatianProject.Pages.Admin.AddFeatureModel
@{
    ViewData["Title"] = "Анализ";
}
<html>
<head>    
    <script src="~/js/filterCondionAdditionController.js"></script>
</head>
<body>
    <div id="values" style="display:none;">
        @foreach (var field in Model.fieldsList)
        {@(field + "|")}
</div>
<h2>Добавление признаков в текст</h2>
<form align="center" method="post">
    <select asp-for="textName">
        @foreach (var text in Model.textList)
        {
            <option>@text</option>
        }
    </select>
    <button>Показать текст</button><br />
</form><br /><br /><br />

<div align="center">
    <textarea id="wordFilter"></textarea> <br />
    <input id="isNegative" type="checkbox" value="Искать слова без этого признака" />
    <select id="keysFilter">
        <option>Any</option>
    </select>
    <select id="valuesFilter">
        <option>Any</option>
    </select> <button id="featureAdditionButton">Добавить признак</button><br />
    <textarea id="featureFilter"></textarea><br />
    <button id="buttonFilter">Фильтровать по слову/признакам</button>
</div><br /><br /><br />

<div>
    <div align="center" style="float:left; width:50%;">
    <button id="SaveChanges">Сохранить изменения</button>
    <form method="post">
    <textarea id="changedText" asp-for="currentText" style="display:none;"></textarea>
			<div id="currText">
			@foreach (var word in Model.textByWords)
        		{
            		@Html.Raw(word)
        		}
			</div>
      <button asp-page-handler="change">Внести изменения</button>
      </form>

    </div>

    <div align="center" style="float:right;width:50%;">
        <textarea id="identificator" style="display:none;"></textarea>
        <div id="info"></div>
        <textarea id="fieldInfo" style="display:none;"></textarea>
        <select id="keys">
          <option>Any</option>
        </select>
        <select id="thisFieldValues">
          <option>Any</option>
        </select>
        <button id="changeButton">Добавить признак</button>
    </div>
</div>


<div style="clear:both;"></div>
<div align="center">
    <a href="/Admin/AddFeature" align="center">Вернуться назад</a>
</div>
</body>
</html>
