@page
@model CroatianProject.Pages.Admin.AddFeatureModel
@{
    ViewData["Title"] = "Анализ";
}
<html>
<head>
    <script src="~/js/wordEditingController.js"></script>
</head>
<body>
    <h2>Добавление признаков в текст</h2>
    <form align="center" asp-page-handler="show" method="post">
        <select asp-for="textName">
            @foreach (var text in Model.textList)
            {
                <option>@text</option>
            }
        </select>
        <button>Показать текст</button><br />
    </form><br /><br /><br />

    <div>
        <div align="center" style="float:left;">
            @foreach (var word in Model.textByWords)
            {
                @Html.Raw(word)
            }
        </div>

        <div align="center" style="float:right;">
            <form method="post">
                <div id="info"></div>
                <button asp-page-handler="change">Изменить</button>
            </form>
        </div>
    </div>
        <div style="clear:both;"></div>

</body>
</html>


