@page
@model CroatianProject.Pages.Admin.CorrectionModel
@{
}
<form method="post">
    Укажите название поля, по которому отслеживаются изменения: 
    <textarea asp-for="correction"></textarea>
    <button>Внести изменения</button>
</form>
