@page
@model CroatianProject.Pages.ViewTextModel
@{
    ViewData["Title"] = "ViewText";
}

<html>
<head>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/featureShowController.js"></script>
    <script src="~/js/documentTextAdditionController.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/buttonHide.css" />
</head>
<body>
    <h2>Просмотр текста</h2>
    <div id="values" style="display:none;">
        @foreach (var field in Model.fieldsList)
        {@(field + "|")}
    </div>
    <div id="doctexts" style="display:none;">
        @foreach (var doc in Model.docList)
        {
            @(doc)
        }
    </div>
    <div style="margin-top:25px;">
        <form align="center" method="post">
            <select id="docs" asp-for="docName">
                <option>Any</option>
            </select>
            <select id="texts" asp-for="textName">
                <option>Any</option>
            </select>
            <button>Показать текст</button><br />
        </form><br /><br /><br />

    </div>

    <div>
        <div align="center" style="float:left; width:50%;">
            @Html.Raw(Model.textByWords)
        </div>
        <div align="center" style="float:right; width:50%;">
            <button id="showFeature">Добавить признак</button><br /><br />
            <select id="type"><option>Any</option><option>Clause</option><option>Realization</option><option>Grapheme</option></select><br />
            <select id="keys" style="opacity:0;"></select><br />
            <select id="fieldValues" style="opacity:0;"></select><br />
            <textarea id="userValue" style="opacity:0;" cols="15"></textarea><br />
            <input id="isNegative" type="checkbox" value="Искать единицы без этого признака" />
            <label id="NegativeTaggingLabel" for="isNegative">Искать единицы без этого признака</label><br />
            <button id="addFeature">Добавить значение в последнее поле</button><br /><br />

            <div id="features"></div>

        </div>
    </div>
    <div style="clear:both;"></div>
</body>
</html>
